@font-face {
    font-family: Azonix;
    src: url("../assets/Azonix.woff"),
        url("../assets/Azonix.woff2") format("woff");
}

body {
    font-family: sans-serif;
    background-image: url("../assets/bathroom.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}


h3 {
    font-family: "Azonix";
    font-size: 1.7rem;
}

h1{
    font-family: "Azonix";
    font-size: 2rem;
}

header,
footer {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

.person {
    display: flex;
    flex-direction: row;
}

img {
    height: auto;
    width: 200px;
    margin-left: 150px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    margin-right: 150px;
}

img:hover {
    cursor: pointer;
}

a {
    font-size: 2rem;
    color: blue;
    margin-bottom: 50px;
}
p{
    font-size: 1.5rem
}
