@font-face {
    font-family: Azonix;
    src: url("../assets/Azonix.woff"),
        url("../assets/Azonix.woff2") format("woff");
}

body {
    font-family: sans-serif;
}

h1,
h3 {
    font-family: "Azonix";
}

header,
footer {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
}

.person {
    display: flex;
    flex-direction: row;
}

img {
    height: auto;
    width: 500px;
    margin-left: 150px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
}

img:hover {
    cursor: pointer;
}

a {
    font-size: 2rem;
    color: blue;
    margin-bottom: 50px;
}
