@font-face {
    font-family: Azonix;
    src: url("../assets/Azonix.woff"),
        url("../assets/Azonix.woff2") format("woff");
}

.hidden {
    display: none;
}

body {
    background-image: url("../assets/redlight.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

h1 {
    font-family: Azonix;
    color: black;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
        1px 1px 0 white;
}

header,
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.doll,
.laser {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#player-img {
    height: auto;
    width: 100px;
    margin-bottom: 100px;
}

main {
    display: flex;
    flex-direction: column;
}
button {
    margin: auto;
    display: flex;
    font-size: 1.5rem;
    background-color: black;
    border: 3px solid black;
    color: red;
    border-radius: 9px;
}
input {
    font-size: 1.5rem;
    background-color: black;
    border: 3px solid black;
    color: red;
    border-radius: 9px;
}
p {
    font-size: 1.1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
