@font-face {
    font-family: Azonix;
    src: url("../assets/Azonix.woff"),
        url("../assets/Azonix.woff2") format("woff");
}

.hidden {
    display: none;
}

body {
    background-image: url("../assets/redlight.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
}

h1 {
    font-family: Azonix;
}

header,
footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.doll,
.laser {
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#player-img {
    height: auto;
    width: 100px;
    margin-bottom: 100px;
}

main {
    display: flex;
    flex-direction: column;
}
button {
    margin: auto;
    display: flex;
}
input {
    font-size: 1.5rem;
}
