body {
    background-color: black;
    color: white;
    font-family: 'Henny Penny', cursive;
    font-size: 2rem;
}

img {
    display: flex;
    margin: auto;
    width: 750px;
    height: auto;
}

main {
    display: flex;
    flex-direction: column;
}

p {
    display: flex;
    justify-content: center;
}

#input-name {
    margin-left: 5px;
}