@font-face {
    font-family: GameOfSquids;
    src: url("../assets/gameofsquids-1gmvl-webfont.woff"),
        url("../assets/gameofsquids-1gmvl-webfont.woff2") format("woff");
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../assets/squidgame.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: sans-serif;
}

header,
h1 {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    padding: 0px;
    font-family: "GameOfSquids", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    display: flex;
    justify-content: center;
}

img {
    height: auto;
    width: 500px;
}

input {
    display: flex;
    margin: auto;
    text-align: center;
    height: 30px;
    width: 250px;
}

button {
    display: flex;
    margin: 10px auto;
    font-size: 1.5rem;
    width: 125px;
    padding-left: 23px;
    background-color: transparent;
    border: 4px solid red;
    border-radius: 15px;
    color: black;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 1.75rem;
}
input {
    border-radius: 10px;
    font-size: 1.3rem;
    font-family: cursive;
}
a {
    color: blue;
}
